{% extends 'base.html.twig' %}

{% block title %}
    Organizer: Profile
{% endblock %}

{% block body %}
<div class="container main-window">
    <div class="row mb-3 text-center">
        <div class="col">
            <h4>Change Your Password</h4>
        </div>
    </div>
    {{ form(form) }}
</div>
{% endblock %}
