{% extends 'base.html.twig' %}

{% block title %}
    Organizer: All Box Models
{% endblock %}

{% block body %}
<div class="container main-window">
    <div class="row mb-3 text-center">
        <div class="col">
            <h4>All Box Models</h4>
        </div>
    </div>
    <div class="row mb-3 text-left">
        <div class="col">
            <a class="btn btn-light" href="{{ path('app_home') }}">&lt; Back</a>
        </div>
    </div>
    {% for boxModel in boxModels %}
        <div class="row mb-3">
            <div class="col">
                <a class="btn btn-block btn-primary" type="button" href="{{ path('app_box_model', {id: boxModel.id}) }}">{{ boxModel.label }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
