{% extends 'base.html.twig' %}
{% import 'macros/box_model_card.html.twig' as boxModelCard %}

{% block title %}
    Organizer: All Box Models
{% endblock %}

{% block body %}
    {% for row in boxModels|batch(3, 'skip') %}
        <div class="row mb-lg-3">
            {% for boxModel in row %}
                <div class="col-12 col-lg-4">
                    {% if boxModel != 'skip' %}
                        {{ boxModelCard.draw(boxModel, true) }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
