{% extends 'base.html.twig' %}

{% block title %}
    Organizer: {{ entity.label }}
{% endblock %}

{% block body %}
    <div class="row mb-3 text-center">
        <div class="col">
            {% if entity.id is not null %}
                <h4>{{ entity.label }}</h4>
            {% else %}
                <h4>New Box Model</h4>
            {% endif %}
        </div>
    </div>
    {{ form(form) }}
{% endblock %}
