###> normal development ###
*.orig
*.patch
*.rej
.idea
###< normal development ###

###> app ###
export-*.*
###< app ###

###> laravel ###
/.env.local
/.env.*.local
/bootstrap/cache/
/public/hot
/public/storage
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
!/storage/app/public/
!/storage/framework/cache/
!/storage/framework/cache/data/
!/storage/framework/sessions/
!/storage/framework/testing/
!/storage/framework/views/
!/storage/logs/
/var/
/vendor/
###< laravel ###

###> phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
