{% extends 'base.html.twig' %}

{% block title %}
    Organizer: All Locations
{% endblock %}

{% block body %}
<div class="container main-window">
    <div class="row mb-3 text-center">
        <div class="col">
            <h4>All Locations</h4>
        </div>
    </div>
    <div class="row mb-3 text-left">
        <div class="col">
            <a class="btn btn-light" href="/">&lt; Back</a>
        </div>
    </div>
    {% for location in locations %}
        <div class="row mb-3">
            <div class="col">
                <a class="btn btn-block btn-primary" type="button" href="/location/{{ location.id | e('html_attr') }}">{{ location.displayLabel }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
