{% extends 'base.html.twig' %}
{% import 'macros/location_card.html.twig' as locationCard %}

{% block title %}
    Organizer: All Locations
{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col text-center">
            All Locations
        </div>
    </div>
    {% for row in locations|batch(3, 'skip') %}
        <div class="row mb-lg-3">
            {% for location in row %}
                <div class="col-12 col-lg-4">
                    {% if location != 'skip' %}
                        {{ locationCard.draw(location, true) }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
