{% extends 'base.html.twig' %}

{% block title %}
    Organizer: All Locations
{% endblock %}

{% block body %}
<div class="container main-window">
    {% for location in locations %}
        <div class="row mb-3">
            <div class="col">
                <a class="btn btn-block btn-primary" type="button" href="{{ path('app_location', {id: location.id}) }}">{{ location.displayLabel }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
