{% extends 'base.html.twig' %}

{% block title %}
    Organizer: {{ location.label }}
{% endblock %}

{% block body %}
<div class="container main-window">
    <div class="row mb-3 text-center">
        <div class="col">
            {% if location.id is not null %}
                <h4>{{ location.displayLabel }}</h4>
            {% else %}
                <h4>New Location</h4>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3 text-left">
        <div class="col">
            <a class="btn btn-light" href="{{ path('app_home') }}">&lt; Back</a>
        </div>
    </div>
    {{ form(form) }}
</div>
{% endblock %}
