{% extends 'base.html.twig' %}

{% block title %}
    Organizer
{% endblock %}

{% block body %}
<div class="container main-window text-center">
    <div class="row mb-3">
        <div class="col">
            <h4>Welcome</h4>
        </div>
    </div>
    {% for location in locations %}
        <div class="row mb-3">
            <div class="col">
                <a class="btn btn-block btn-primary" href="/location/{{ location.id | e('url') }}">{{ location.label }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
