{% extends 'base.html.twig' %}

{% block title %}
    Organizer: Data Export
{% endblock %}

{% block body %}
    <div class="row mb-3 text-center">
        <div class="col">
            <h4>Data Export</h4>
        </div>
    </div>
    {{ form(form) }}
{% endblock %}
