{% extends 'base.html.twig' %}
{% import 'macros/box_card.html.twig' as boxCard %}

{% block title %}
    Organizer: All Boxes
{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col text-center">
            {{ title }}
        </div>
    </div>
    {% for row in boxes|batch(3, 'skip') %}
        <div class="row mb-lg-3">
            {% for box in row %}
                <div class="col-12 col-lg-4">
                    {% if box != 'skip' %}
                        {{ boxCard.draw(box, true, true) }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
