{% extends 'base.html.twig' %}

{% block title %}
    Organizer: {{ entity.label }}
{% endblock %}

{% block body %}
<div class="container main-window">
    <div class="row mb-3 text-center">
        <div class="col">
            {% if entity.id is not null %}
                <h4>{{ entity.displayLabel }}</h4>
            {% else %}
                <h4>New Box</h4>
            {% endif %}
        </div>
    </div>
    {% if entity.id is not null %}
        <div class="form-group">
            <label for="id">Box</label>
            <input type="text" class="form-control" disabled id="id" placeholder="Automatically Assigned" value="{{ entity.displayId | e('html_attr') }}">
        </div>
    {% endif %}
    {{ form(form) }}
</div>
{% endblock %}
