{% extends 'base.html.twig' %}

{% block title %}
    Organizer: About
{% endblock %}

{% block body %}
    <div class="row mb-3 text-center">
        <div class="col">
            <h4>About</h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <p>Organizer is a tool for keeping track of storage boxes.</p>

            <p>This site is built with <a href="https://symfony.com/license"
            target="_blank">Symfony</a> with help from its <a
            href="https://symfony.com/doc/master/contributing/documentation/license.html"
            target="_blank">documentation</a>.</p>

            <p>This site is built using <a
            href="https://getbootstrap.com/docs/5.3/about/license/"
            target="_blank">Bootstrap</a>.</p>

            <p>Thanks to <a href="https://fontawesome.com/license/free"
            target="_blank">Font Awesome</a> for the use of their icons.  I
            modified the dolly icon seen in the site icon.</p>
        </div>
    </div>
{% endblock %}
