{% extends 'base.html.twig' %}

{% block title %}
    Organizer: About
{% endblock %}

{% block body %}
<div class="container main-window">
    <div class="row mb-3 text-center">
        <div class="col">
            <h4>About</h4>
        </div>
    </div>
    <div class="row mb-3 text-left">
        <div class="col">
            <a class="btn btn-light" href="/">&lt; Back</a>
        </div>
    </div>
    <div class="row mb-3 text-left">
        <div class="col">
            <p>Organizer is a side project, an attempt to shift the scales away
            from chaos toward order.</p>

            <p><em>We never get there, but still, we try.</em></p>

            <p>Thanks to <a href="https://fontawesome.com/license/free"
            target="_blank">Font Awesome</a> for the use of their icons.  They
            asked that I provide attribution in exchange for downloading the
            <code>.svg</code> file that's used for the icon on this site, and
            they asked that I note any changes.  Persuant to that, I changed
            the <code>fill</code> color from <code>"currentColor"</code> to
            <code>"cornflowerblue"</code>.</p>

            <p><em>I am my khakis.</em></p>

        </div>
    </div>
</div>
{% endblock %}
