{% extends 'base.html.twig' %}
{% import 'macros/box.html.twig' as boxCard %}

{% block title %}
    Organizer: All Boxes
{% endblock %}

{% block body %}
<div class="container main-window">
    <div class="row mb-3 text-center">
        <div class="col">
            <h4>All Boxes</h4>
        </div>
    </div>
    <div class="row mb-3 text-left">
        <div class="col">
            <a class="btn btn-light" href="/">&lt; Back to Top</a>
        </div>
    </div>
    {% for box in boxes %}
        {{ boxCard.draw(box, true) }}
    {% endfor %}
</div>
{% endblock %}
