{% extends 'base.html.twig' %}
{% import 'macros/box_card.html.twig' as boxCard %}

{% block title %}
    Organizer
{% endblock %}

{% block body %}
    <div class="accordion">
        {% for location in locations %}
            {% set accordionTarget = 'children-' ~ location.id | e('html_attr') %}
            <div class="row mb-3">
                <div class="col">
                    <button class="btn btn-block btn-primary btn-accordion" type="button" data-toggle="collapse" data-target="#{{ accordionTarget }}">
                        {{ location.displayLabel }}
                    </button>
                </div>
            </div>
            <div class="container collapse accordionTarget" id="{{ accordionTarget }}">
                {% for row in location.getBoxes()|batch(3, 'skip') %}
                    <div class="row mb-3">
                        {% for box in row %}
                            <div class="col-md-12 col-lg-4">
                                {% if box != 'skip' %}
                                    {{ boxCard.draw(box, false, true) }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
