{% extends 'base.html.twig' %}

{% block title %}Hello OrganizerController!{% endblock %}

{% block body %}
<div class="body">
    Locations:
    <ul>
        {% for location in locations %}
            <li>{{ location.label }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
